@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300&family=Source+Sans+Pro:wght@300&display=swap");
body {
  font-family: "Quicksand", sans-serif;
}
/*  Start Header Section  */
/* Start headerIntros Section */
.headerintros {
  height: 50px;
  background: darkblue;
  display: block;
}
.infos {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
}
/* End headerIntros Section */
/* Start nav Section */
/* End nav Section */
/* Start Banner Section */
.carousel-item {
  height: 60vh;
}
.banners1 {
  background-image: url("../assets/img/banner/banner4.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.banners2 {
  background-image: url("../assets/img/banner/banner5.jpg");
}

.banners3 {
  background-image: url("../assets/img/banner/banner6.jpg");
}

.btn-blues {
  background: darkblue;
  color: #fff;
}
/* End Banner Section */
/* End  Header Section  */

/* Start  Feature Section */

.iconboxes {
  background-color: #fff;
  box-shadow: 0 2px 15px rgb(0, 0, 0, 0.2);
  padding: 50px 20px;
  position: relative;
}
.icons {
  width: 70px;
  height: 70px;
  background-color: darkcyan;
  border-radius: 50%;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: calc(50% - 35px);
  top: -35px;
}
.iconboxes:hover {
  background: none;
  color: darkcyan;
  border: 2px solid darkcyan;
}
/* End  Feature Section */

/* Start Feature 1 Section */

.fromrights {
  animation-name: fromrights;
  animation-duration: 5s;
}
.fromlefts {
  animation-name: fromlefts;
  animation-duration: 5s;
}
@keyframes fromlefts {
  from {
    transform: translateX(-30px);
    opacity: 0;
  }
  to {
    transform: translateX(0px);
    opacity: 1;
  }
}
@keyframes fromrights {
  from {
    transform: translateX(30px);
    opacity: 0;
  }
  to {
    transform: translateX(0px);
    opacity: 1;
  }
}

/* End Feature 1 Section */
/* Start ADV Section */

.advs {
  height: 300px;
  background-image: linear-gradient(
      rgba(0, 0, 0, 0.1),
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0.3)
    ),
    url(../assets/img/banner/banner1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  color: #fff;
  display: flex;
  text-shadow: -5px 0 10px #000;
  align-items: center;
}

/* End End Section */

/* Start Dept Section */
.deptboxes {
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  position: relative;
  overflow: hidden;
}
.deptboxes img {
  width: 100%;
  object-fit: cover;
}
.deptboxes .contents {
  width: 80%;
  height: 100%;
  background-color: #fff;
  text-align: center;
  position: absolute;
  left: 10%;
  bottom: -90%;
  transition: all 0.5s;
  margin-bottom: 3.5px;
}
.deptboxes a {
  background-color: steelblue;
  color: #fff;
  font-size: 14px;
  text-decoration: none;
  border-radius: 5px;
  padding: 10px 50px;
  opacity: 0;
  transition: all 0.5s;
}

.deptboxes:hover .contents {
  width: 100%;
  height: 70%;
  left: 0;
  bottom: 0;
}
.deptboxes:hover a {
  opacity: 1;
  transition-delay: 0.5s;
  /* margin-bottom: 50px; */
}
.deptboxes:hover img {
  transform: scale(1.2);
  transition: tra 0.5s;
}
.deptboxes:hover h3 {
  font-size: 16px;
  color: steelblue;
  font-weight: bold;
  letter-spacing: 5px;
  padding-bottom: 10px;
  padding-top: 10px;
}
.deptboxes:hover p {
  width: 80%;
  font-size: 13px;
  margin: 10px auto;
}
/* End Dept Section */

@media (max-width: 1000px) {
  /*  Start Header Section  */
  .headerintros {
    display: none;
  }
  /* End  Header Section  */
}
